<!-- Header -->
    
    <div class="header-container">
        <div class="video-container">
            <video preload = "true" autoplay = "autoplay" loop = "loop" volume =  "0" controls poster ="">
                <source src = "/assets/video/beertown.mp4" type = "video-mp4" >
                <source src = "/assets/video/beertown.webm " type = "video/webm" >
                <source src = "/assets/video/beertown.ogg" type = "video/ogg" >

            </video>
        </div> <!-- end of video container -->
        <div class="inner-wrapper">
            <div class="container">
                <h1 class="headline">Craft beer in the heart of downtown <span>Elora</span></h1>
            </div>
        </div>
    </div> <!-- end of header container -->

    <section class="sub-header-container about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <h2>Brewery, gastropub & bottle shop.</h2>
                <p>Surrounded by century old heritage, The Elora Brewing Company provides a true craft beer experience, accompanied by some of the best 'farm-to-table' food in the region.</p>
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/EloraBrewingCo"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/EloraBrewingCompany"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://instagram.com/elorabrewingcompany/"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="https://untappd.com/EloraBrewingCompany"><img src="/assets/img/icons/untappd-icon.png" height="20px" style="position: absolute; top: 5px;" /></a>
                    </li>
                </ul>
                </div>
                <div class="col-md-6">
                    <div class="news-container">
                        <span>Latest News</span>
                        <h4 class="title">{{ news }}</h4>
                        <a href="{{ newslink }}"><button class="btn">Details</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Quick Links Section -->
    <section class="quicklinks">
        <div class="container">
            <div class="col-md-4">
                <a href="/beers">
                    <img src="/assets/img/icons/beers-icon.png" alt="Elora Brewing Company beers" class="icons img-responsive" />
                    <h5 class="quicklink">Our beers</h5>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/bottle-shop">
                    <img src="/assets/img/icons/bottleshop-icon.png" alt="Elora Brewing Company bottle shop" class="icons img-responsive" />
                    <h5 class="quicklink">Bottle shop</h5>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/process">
                    <img src="/assets/img/icons/process-icon.png" alt="Elora Brewing Company brewing process" class="icons img-responsive" />
                    <h5 class="quicklink">Our Process</h5>
                </a>
            </div>
        </div>
    </section>

    <!-- About the Beer Section -->
    <section class="aboutthebeer stories">
        <div class="container">
            <div class="col-md-5 col-md-offset-6">
                <h2>About the beer</h2>
                <p>As artisan brewers, our experience hinges on the notion of ‘great beer goes best with great food.’ Our intention is to provide a true craft beer experience accompanied by some of the best ‘farm-to-table’ food in the region. Interesting beer recipes will give rise to creative dishes and creative dishes will give rise to some wonderful, imaginative brews.</p>
                <a href="/beers"><button class="btn">See our beers</button></a>
            </div>
        </div>
    </section>

    <!-- Brewed in Elora Section -->
    <section class="brewedinelora stories">
        <div class="container">
            <div class="col-md-5 col-md-offset-6">
                <h2>Brewed in Elora</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tortor metus, iaculis a sem in, scelerisque volutpat est. Curabitur bibendum vulputate pulvinar. Phasellus nulla nisl, efficitur sit amet ipsum ac, ultricies cursus metus. Integer mollis ornare tortor, id ultricies nisi ultricies vitae.</p>
                <a href="/process"><button class="btn">See our process</button></a>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <a href="https://goo.gl/maps/50kYi" target="_blank"><div id="map"></div></a>
    <div class="addressbar">
        <div class="container">
        <p>107 Geddes Street, Elora, ON N0B 1S0</p>
        </div>
    </div>