<div class="site-wrapper"
    style="display: table;
          width: 100%;
          height: 450px;
          padding: 6rem 0;
          text-align: center;
          color: #fff;
          box-shadow: inset 0 0 0 1000px rgba(141,84,63,.3);
          background: url({{ headerphoto }}) no-repeat center top scroll;
          background-color: #000;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          -o-background-size: cover;">

      <div class="inner-wrapper">
          <div class="container">
            <h2 class="page-title">{{ title }}</h2>
          </div>
      </div>

</div>

<section class="process-illustration">
  <div class="container">
    

  </div>
</section>

<!-- Meet the Brewer Section -->
<section class="meetthebrewer">
    <div class="container">
        <div class="col-md-6 col-md-offset-6">
            <h2>Meet the Brewer</h2>
            <p>Alex has 7 years experience within the Ontario Craft Beer
Industry spending his first year with Beau’s All Natural Brewing Company in Vankleek 
Hill and 5 years as the head brewer at Barley Days, a regional brewery in Prince Edward 
County. With an undergraduate degree in microbiology from the University of Guelph 
and an in MSc in Brewing and Distilling from world- renowned Heriot-Watt University in 
Edinburgh, Scotland Alex is aptly equipped to create beers with proven industry success 
as well as to push the limits of brewing by creating innovative and tasty new recipes.</p>
        </div>
    </div>
</section>